<div class="row justify-content-center">
  <button id="scrape-btn" type="button" class="btn btn-info">Scrape</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>